In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key
from config import g_key
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [2]:
# Store CSV from part 2 into a DataFrame
hotel_df = pd.read_csv('challenge_data/WeatherPy_vacation.csv')
hotel_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Rikitea,PF,77.61,broken clouds,-23.12,-134.97,Pension Maro'i
1,3,Vaini,TO,78.80,smoke,-21.20,-175.20,Keleti Beach Resort
2,15,Salinopolis,BR,80.06,overcast clouds,-0.61,-47.36,Hotel Salinópolis
3,16,Kupang,ID,89.60,scattered clouds,-10.17,123.58,Sylvia Hotel Premier Kupang
4,19,Pandan,PH,84.60,broken clouds,14.05,124.17,Bonifacio Lodge
...,...,...,...,...,...,...,...,...
94,508,Soyo,AO,78.35,overcast clouds,-6.13,12.37,Hotel Mpampa
95,513,Sabang,ID,85.05,scattered clouds,5.89,95.32,Hotel Citra
96,527,Alyangula,AU,86.00,broken clouds,-13.85,136.42,Groote Eylandt Lodge
97,529,Tam Ky,VN,89.60,few clouds,15.57,108.48,Phương Hòa Motel
98,532,Ballina,AU,80.60,few clouds,-28.87,153.57,Ramada Hotel & Suites by Wyndham Ballina Byron

In [3]:
# Get hotels in close proximity 
hotel_df_one = hotel_df.loc[(hotel_df["Country"] == "TH")]
hotel_df_two = hotel_df.loc[(hotel_df["Country"] == "MM")]
hotel_df_three = hotel_df.loc[(hotel_df["Country"] == "IN")]
hotel_df_four = hotel_df.loc[(hotel_df["Country"] == "BD")]

In [4]:
new_hotel_df = hotel_df_one[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy()
new_two = new_hotel_df.append(hotel_df_two[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy())
new_three = new_two.append(hotel_df_three[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy())
final_hotel_df = new_three.append(hotel_df_four[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy())
final_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
33,Rayong,TH,89.55,broken clouds,12.83,101.43,Purimas Beach Hotel
89,Falam,MM,85.53,few clouds,22.92,93.68,Falang Government Guesthouse
45,Kavaratti,IN,89.60,few clouds,10.57,72.64,Bismillah Hotel And Lodging
56,Thenzawl,IN,84.20,haze,23.32,92.75,Grace Indane Gramin Vitrak Godown
61,Dwarka,IN,81.36,broken clouds,22.24,68.97,Hotel Narayan Avezika Comfort
48,Lalmohan,BD,87.60,clear sky,22.34,90.74,Sundorbon courier service

In [5]:
# Get lat,lng for each hotel
rayong = (hotel_df_one["Lat"].values[0], hotel_df_one["Lng"].values[0])
falam = (hotel_df_two["Lat"].values[0], hotel_df_two["Lng"].values[0])
thenzawl = (hotel_df_three["Lat"].values[1], hotel_df_three["Lng"].values[1])
lalmohan = (hotel_df_four["Lat"].values[0], hotel_df_four["Lng"].values[0])

In [6]:
# Create template for info box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in final_hotel_df.iterrows()]

In [7]:
# Create route between each hotel and make it a gmaps layer
rayong_lalmohan = gmaps.directions_layer(rayong, lalmohan, waypoints=[falam, thenzawl], travel_mode='DRIVING')

In [8]:
# Congifure gmaps
fig = gmaps.figure(center=(22,93), zoom_level=4)
fig.add_layer(rayong_lalmohan)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = final_hotel_df[["Lat","Lng"]]
fig = gmaps.figure(center=(22,93), zoom_level=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))